# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask
instance/
.webassets-cache
*.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Outros
*.log
*.sqlite3
*.egg-info/
dist/
build/
*.egg
